services/n8n/workflow_expense_weekly.json
{
  "name": "Facturéo — Envoi Hebdo Notes de Frais",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Vendredi 17h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/expense_scans",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.à revoir" },
            { "name": "select", "value": "*" },
            { "name": "order", "value": "expense_date.asc" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-scans",
      "name": "Fetch Pending Scans",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-exists",
      "name": "Des notes existent ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const scans = $input.all().map(i => i.json);\n\n// Générer signed URLs via Supabase n'est pas possible directement ici\n// On passe les paths, le Edge Function send-expense-email les signera\nconst total = scans.reduce((s, r) => s + (r.amount || 0), 0);\n\nconst lines = scans.map(s => {\n  const parts = [\n    s.merchant || 'Inconnu',\n    s.amount != null ? `${Number(s.amount).toFixed(2)} €` : null,\n    s.expense_date ? new Date(s.expense_date).toLocaleDateString('fr-FR') : null,\n    s.category || null\n  ].filter(Boolean);\n  return `• ${parts.join(' — ')}`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    scans: scans.map(s => ({ id: s.id, pdf_url: s.pdf_url, merchant: s.merchant, amount: s.amount, expense_date: s.expense_date, category: s.category })),\n    scan_ids: scans.map(s => s.id),\n    total: total.toFixed(2),\n    count: scans.length,\n    lines,\n    email_body: `Bonjour,\\n\\nVeuillez trouver ci-joint ${scans.length} note(s) de frais de la semaine.\\n\\nRécapitulatif :\\n${lines}\\n\\n${total > 0 ? 'Total : ' + total.toFixed(2) + ' €' : ''}\\n\\nCordialement`\n  }\n}];\n"
      },
      "id": "build-email",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"from\": \"{{ $env.FROM_EMAIL }}\",\n  \"to\": [\"{{ $env.ACCOUNTANT_EMAIL }}\"],\n  \"subject\": \"Notes de frais semaine du {{ new Date().toLocaleDateString('fr-FR') }} ({{ $json.count }} justificatif(s))\",\n  \"text\": \"{{ $json.email_body }}\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/expense_scans",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=in.({{ $('Build Email Content').first().json.scan_ids.join(',') }})" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"status\": \"transmis\" }",
        "options": {}
      },
      "id": "mark-transmis",
      "name": "Mark as Transmis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "console.log('Aucune note de frais à envoyer cette semaine.');\nreturn [];\n"
      },
      "id": "no-scans",
      "name": "Rien à envoyer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Vendredi 17h00": {
      "main": [[{ "node": "Fetch Pending Scans", "type": "main", "index": 0 }]]
    },
    "Fetch Pending Scans": {
      "main": [[{ "node": "Des notes existent ?", "type": "main", "index": 0 }]]
    },
    "Des notes existent ?": {
      "main": [
        [{ "node": "Build Email Content", "type": "main", "index": 0 }],
        [{ "node": "Rien à envoyer", "type": "main", "index": 0 }]
      ]
    },
    "Build Email Content": {
      "main": [[{ "node": "Send Email (Resend)", "type": "main", "index": 0 }]]
    },
    "Send Email (Resend)": {
      "main": [[{ "node": "Mark as Transmis", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["factureo", "expense-scans", "scheduled"]
}
